body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #793FDF;
}

.container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
}

h1 {
  text-align: center;
}

.input-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #007bff;
  color: #000;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.filter-section {
  margin-top: 10px;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.completed {
  text-decoration: line-through;
  color: #999;
}

.edit-input,
select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.editButton,
.deleteButton {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px 8px;
  margin-left: 5px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }

  .input-section {
    flex-direction: column;
  }

  input[type="text"],
  select {
    width: 100%;
    margin-bottom: 5px;
  }

  button {
    width: 100%;
  }
}
